<!--Main Navigation-->
<header>
  <!--Mask-->
<div id="intro" class="view">
    <div class="mask rgba-black-strong">
      <div class="container-fluid d-flex align-items-center justify-content-center h-100">

        <div class="row d-flex justify-content-center text-center">
          <div class="col-md-10">
            <!-- Heading -->
            <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">{{title}}</h2>

            <!-- Divider -->
            <hr class="hr-light">

            <!-- Description -->
            <h4 class="white-text my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti
              consequuntur.</h4>
            <a href="/auth"><button type="button" id="authButton">log in with spotify</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.Mask-->

</header>
<!--Main Navigation-->

<!--Main layout-->
{{!-- <main> --}}
  
  {{!--
</main> --}}
<!--Main layout-->

<!--Footer-->
<footer>

</footer>
<!--Footer-->