<!--Main Navigation-->
<header>
  <!--Mask-->
  <div id="intro" class="view">
    <div class="mask rgba-black-strong">
      <div class="container-fluid d-flex align-items-center justify-content-end h-100">

        <div class="row d-flex justify-content-end text-right">
          <div class="col-md-10">
            <!-- Heading -->
            <div id="OURlogo">
              <picture class="logo204U">
                <img src="./images/204U-04copy.png" alt="LOGO" width="300px" height="300px">
              </picture>
            </div>

            <!-- Description -->
            <h4 class="header_content white-text text-right display-3 my-4">This is your new favorite Spotify search
              engine based on your impeccable music taste.</h4>
            <a href="/auth"><button type="button" id="authButton">log in with spotify</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.Mask-->

</header>
<!--Main Navigation-->

<!--Main layout-->
<main>

</main>
<!--Main layout-->

<!--Footer-->
<footer>

</footer>
<!--Footer-->