<!--Main Navigation-->
<main>
  <!--Mask-->
  <div class="container-fluid d-flex align-items-center justify-content-end h-100">
    <divclass="row d-flex justify-content-end text-right">

      <div class="col-md-12">
        <!-- Heading -->


        <div class="wrapper">
          <div class="line"></div>
          <div class="circle-2">
            {{!-- <img src="./images/204U-04copy.png" alt="LOGO"> --}}
          </div>
          <div class="circle">
            {{!-- <img src="./images/204U-04copy.png" alt="LOGO"> --}}
          </div>
        </div>

        <!-- Description -->
        <div class="mainInfo">
          <h4 class="header_content white-text text-center display-3">is your new favorite Spotify search engine that
            finds new tracks based on the artists you follow</h4>
        </div>



        <a href="/auth"><button type="button" id="authButton">LOGIN WITH SPOTIFY</button></a>

      </div>


  </div>


  </div>


  <!--/.Mask-->
</main>