<div class="superContainer">

  <!-- Header -->
  <header class="header">
    <div class="header_content d-flex flex-row align-items-center justify-content-center">
      <div class="logo"><a href="#">204U</a></div>
      <div class="logout">
        <ul class="d-flex flex-row align-items-start justify-content-start">
          <li><a href="#">Logout</a></li>
        </ul>
      </div>
    </div>
  </header>

  <div class="mainDiv d-flex flex-row flex-wrap align-items-center justify-content-around">
    <div class="row">
      <div class="userInfo col-sm">

      </div>
    </div>



    <!-- Newsfeed -->

      <div class="newsfeed col-sm flex-row align-items-center justify-content-md-center">
        <div class="container">
          <div class="row" style="z-index:10;">
            <div class="col">
              <div class="section_title_container">
                <div class="section_subtitle">Events</div>
                <div class="section_title">
                  <h3>New Songs 4 U</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="row shows_row">

            <!-- Shows List -->
            <div class="col-lg-8 order-lg-1 order-2 shows_list_col">
              <div class="shows_list_container">
                <ul class="shows_list">

                  <!-- Show -->
                  <li class="d-flex flex-row align-items-center justify-content-start">
                    <div>
                      <div class="show_date">18/07</div>
                    </div>
                    <div class="show_info d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-md-start justify-content-center">
                      <div class="show_name"><a href="#">Electric Castle Festival</a></div>
                      <div class="show_location">Cluj, Romania</div>
                    </div>
                    <div class="ml-auto">
                      <div class="show_shop trans_200"><a href="#">Buy Tickets</a></div>
                    </div>
                  </li>

                  <!-- Show -->
                  <li class="d-flex flex-row align-items-center justify-content-start">
                    <div>
                      <div class="show_date">20/07</div>
                    </div>
                    <div class="show_info d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-md-start justify-content-center">
                      <div class="show_name"><a href="#">Ultra Music Festival</a></div>
                      <div class="show_location">Miami, USA</div>
                    </div>
                    <div class="ml-auto">
                      <div class="show_shop trans_200"><a href="#">Buy Tickets</a></div>
                    </div>
                  </li>

                  <!-- Show -->
                  <li class="d-flex flex-row align-items-center justify-content-start">
                    <div>
                      <div class="show_date">03/08</div>
                    </div>
                    <div class="show_info d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-md-start justify-content-center">
                      <div class="show_name"><a href="#">Untold Festival</a></div>
                      <div class="show_location">Cluj, Romania</div>
                    </div>
                    <div class="ml-auto">
                      <div class="show_shop trans_200"><a href="#">Buy Tickets</a></div>
                    </div>
                  </li>

                  <!-- Show -->
                  <li class="d-flex flex-row align-items-center justify-content-start">
                    <div>
                      <div class="show_date">11/08</div>
                    </div>
                    <div class="show_info d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-md-start justify-content-center">
                      <div class="show_name"><a href="#">Sun Kissed Festival</a></div>
                      <div class="show_location">Paris, France</div>
                    </div>
                    <div class="ml-auto">
                      <div class="show_shop trans_200"><a href="#">Buy Tickets</a></div>
                    </div>
                  </li>

                  <!-- Show -->
                  <li class="d-flex flex-row align-items-center justify-content-start">
                    <div>
                      <div class="show_date">18/08</div>
                    </div>
                    <div class="show_info d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-md-start justify-content-center">
                      <div class="show_name"><a href="#">Spanish Festival</a></div>
                      <div class="show_location">Madrid, Spain</div>
                    </div>
                    <div class="ml-auto">
                      <div class="show_shop trans_200"><a href="#">Buy Tickets</a></div>
                    </div>
                  </li>

                  <!-- Show -->
                  <li class="d-flex flex-row align-items-center justify-content-start">
                    <div>
                      <div class="show_date">25/08</div>
                    </div>
                    <div class="show_info d-flex flex-md-row flex-column align-items-md-center align-items-start justify-content-md-start justify-content-center">
                      <div class="show_name"><a href="#">Vikings Festival</a></div>
                      <div class="show_location">Oslo, Norway</div>
                    </div>
                    <div class="ml-auto">
                      <div class="show_shop trans_200"><a href="#">Buy Tickets</a></div>
                    </div>
                  </li>

                </ul>
              </div>
            </div>

            <!-- listen to Sample -->
            <div class="col-lg-4 order-lg-2 order-1">
              <div class="playSample">
                <p>play</p>>
              </div>
            </div>

          </div>
        </div>

      </div>
  </div>
</div>