<!-- Header -->
<header class="header">
  <div class="header_content d-flex flex-row align-items-center justify-content-center">
    <div class="logo"><a href="#">204U</a></div>
    <div class="logout">
      <ul class="d-flex flex-row align-items-start justify-content-start">
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </div>
</header>

<h1>20 Songs for You</h1>
<p>Welcome to {{title}}</p>