@font-face {
  font-family: "ProximaNova_altblack";
  src: url("/fonts/MarkSimonson\ -\ ProximaNovaAltBlack-webfont.ttf")
    format("truetype");
}

@font-face {
  font-family: "ProximaNova_altbold";
  src: url("/fonts/Mark\ Simonson\ -\ Proxima\ Nova\ Alt\ Bold-webfont.ttf")
    format("truetype");
}

@font-face {
  font-family: "ProximaNova_regular";
  src: url("/fonts/Mark\ Simonson\ -\ Proxima\ Nova\ Alt\ Regular-webfont.ttf")
    format("truetype");
}

@font-face {
  font-family: "ProximaNova_thin";
  src: url("/fonts/Mark\ Simonson\ -\ Proxima\ Nova\ Thin-webfont.ttf")
    format("truetype");
}

/* general stuff */

.regularFont {
  font-family: "ProximaNova_regular";
  color: white;
  /* line-height: 120%; */
  font-size: large;
}

html,
body,
header,
#intro {
  width: 100%;
  height: 100%;
  background-color: #1d1d1b;
}

/* Buttons */
#logoutButton,
#refreshButton,
#authButton {
  border-width: 1;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: normal;
  text-decoration: none;
  color: white;
  line-height: 1;
  border-radius: 500px;
}

#logoutButton {
  position: center;
  margin-top: 30px;
  margin-bottom: 30px;
  bottom: 120px;
  width: 200px;
  font-weight: bold;
  background-color: #1d1d1b;
  font-size: 14px;
  padding: 16px 48px 18px;
}

/* login via spotify button on home.hbs */
#refreshButton {
  position: center;
  margin-top: 60px;
  bottom: 120px;
  width: 300px;
  font-weight: bold;
  background-color: #8dc686;
  font-size: 14px;
  padding: 16px 48px 18px;
}

.refresh {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

#authButton {
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 300px;
  font-weight: bold;
  background-color: #1d1d1b;
  font-size: 14px;
  padding: 16px 48px 18px;
  letter-spacing: 2px;
}

#intro {
  background: url("../images/headphones.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.typewriter h4 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}

.header_content {
  color: white;
  font-family: "ProximaNova_altbold", Fallback, sans-serif;
}

.typewriter {
  margin-top: 100px;
}

body {
  font-family: "ProximaNova", sans-serif;
  width: 100%;
}

.c {
  font-family: "ProximaNova_altbold", sans-serif;
  color: white;
  width: 100%;
  text-align:center;
  display:block;
  padding-top:30vh;
  height:100vh;
  overflow:hidden;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
}
.b div {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}
.b div:first-of-type { 
animation: showup 7s infinite;
}
.b div:last-of-type {
width:0px;
animation: reveal 7s infinite;
}
.b div:last-of-type h2 {
margin-left:-355px;
animation: slidein 7s infinite;
max-width: 600;
}
.headerText {
 max-width:800px;
}
@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}
@keyframes slidein {
    0% { margin-left:-300px; }
    20% { margin-left:-300px; }
    35% { margin-left:0px; }
    100% { margin-left:100px; }
}
@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:70%;}
    80% {opacity:1;}
    100% {opacity:0;width:70%;}
}

.color-change-3x {
	animation: color-change-3x 4s linear infinite alternate both;
}

 @keyframes color-change-3x {
  0% {
    background: white;
  }
  50% {
    background: #1d1d1b;
  }
  100% {
    background: #8dc686;
  }
}

.bodyPers {
  background-color: #1d1d1b;
}

ul tr {
  list-style: none;
  margin-bottom: 0px;
}

.mainPersonal,
.superContainer {
  width: 100vw;
}

.welcome {
  font-family: "ProximaNova_altbold";
  color: #8dc686;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.userInfo {
  width: 140px;
  height: 100px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#userPhoto {
  height: 64px;
  width: 64px;
  background: #8dc686;
}

/*header*/
.header {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  background: #000000;
  color: white;
  z-index: 100;
}

.logoWhiteDiv {
  width: 140px;
  height: 100px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logoWhite {
  background-size: cover;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.letsBoogie {
  margin: 0;
}

hr {
  border-top: 1px white solid;
  width: 100%;
}

.headerP {
  border: 0.5px solid white;
  letter-spacing: 2px;
  text-transform: uppercase;
  white-space: normal;
  text-decoration: none;
  color: white;
  line-height: 1;
  border-radius: 500px;
  padding: 12px 10px 14px;
}

.headerTracks {
  width: 40%;
  position: center;
  margin-left: 30%;
}

.headerArtists,
.headerRelated {
  width: 80%;
  margin-left: 10%;
}

.artistPicture {
  display: inline-block;
  vertical-align: middle;
  width: 56px;
  height: 56px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.artistsUl {
  padding: 0;
}

.hoverImage {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.text {
  color: white;
  font-family: "ProximaNova_thin";
  font-size: 10px;
}

.artistPicture:hover .hoverImage {
  opacity: 0.3;
}

.artistPicture:hover .middle {
  opacity: 1;
}

.artistList,
.artistInfo {
  font-family: "ProximaNova_thin";
  color: white;
  height: 500px;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.list {
  margin-top: 25px;
}

#artistIMG,
#relatedArtistsIMG
 {
  background-size: cover;
  width: 56px;
  height: 56px;
  margin-bottom: 20px;
}

.artistPictureRelated {
  margin: 0;
  padding: 0;
}

.mainPersonal {
  margin-top: 40px;
}

/* NewsFeed */
.newsfeed {
  vertical-align: top;
  width: 50%;
}

.newsfeed_container {
  width: 100%;
  height: 100%;
}

#newsfeedList {
  width: 100%;
  background: #1d1d1b;
  margin-top: 20px;
}

.newsfeed_header {
  text-align: center;
}

table {
  table-layout: fixed;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#albumIMG {
  background-size: cover;
  width: 35px;
  height: 35px;
  margin-bottom: 10px;
  vertical-align: middle;
}

tr {
  font-size: 12px;
  color: white;
}

.table td {
  margin: 0;
  padding: 0;
}

.table-dark {
  background-color: #1d1d1b;
}

.table-wrapper-scroll-y {
  display: block;
  max-height: 500px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-wrapper-scroll-y::-webkit-scrollbar {
  background-color: #1d1d1b;
}

.table-wrapper-scroll-y::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px white;
  border-radius: 10px;
}

.table-wrapper-scroll-y::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 20px #8dc686;
  border-radius: 20px;
}

.table td:nth-child(1),
.table td:nth-child(4) {
  width: 10%;
  border-top: none;
  vertical-align: middle;
}

.table td:nth-child(2) {
  width: 30%;
  border-top: none;
  vertical-align: middle;
  border-bottom: 0.2px solid white;
}

.table td:nth-child(3) {
  width: 50%;
  border-top: none;
  vertical-align: middle;
  border-bottom: 0.2px solid white;
}

.jp-play {
  position: relative;
  border-radius: 50%;
  background: #1d1d1b;
  border-color: white;
  cursor: pointer;
  text-align: center;
  outline: none !important;
  width: 30px;
  height: 30px;
}

i {
  color: #8dc686;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
}

/* .fas {
	text-align: center;
	vertical-align: middle;

} */

.newsfeed_list td th {
  width: 100%;
  /* height: 50px; */
  background: #333232;
  padding-left: 11px;
  padding-right: 37px;
  color: #ffffff;
  font-size: 18px;
}

.newsfeed_list td a {
  color: #ffffff;
}

.newsfeed_list td:not(:last-of-type) {
  margin: 0;
  padding: 0;
}

/*logout*/
.logout {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 52px;
}

div {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul,
tr {
  list-style: none;
  margin-bottom: 0px;
}

p:last-of-type {
  margin-bottom: 0;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

/* logo inside header */

.logo {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 51px;
}

.logo a {
  font-size: 30px;
  color: #ffffff;
}
