@font-face {
	font-family: "ProximaNova_altblack";
	src: url("/fonts/MarkSimonson\ -\ ProximaNovaAltBlack-webfont.ttf") format('truetype');
}

@font-face {
	font-family: "ProximaNova_altbold";
	src: url("/fonts/Mark\ Simonson\ -\ Proxima\ Nova\ Alt\ Bold-webfont.ttf") format('truetype');
}

@font-face {
	font-family: "ProximaNova_regular";
	src: url("/fonts/Mark\ Simonson\ -\ Proxima\ Nova\ Alt\ Regular-webfont.ttf") format('truetype');
}

@font-face {
	font-family: "ProximaNova_thin";
	src: url("/fonts/Mark\ Simonson\ -\ Proxima\ Nova\ Thin-webfont.ttf") format('truetype');
}

/* general stuff */

.regularFont {
	font-family: "ProximaNova_regular";
	color: white;
	/* line-height: 120%; */
	font-size: large;
}

html,
body,
header,
#intro {
	width: 100%;
	height: 100%;
	background-color: #1d1d1b;
}

/* Buttons */
#logoutButton,
#refreshButton,
#authButton {
	border-width: 1;
	letter-spacing: 2px;
	text-transform: uppercase;
	white-space: normal;
	text-decoration: none;
	color: white;
	line-height: 1;
	border-radius: 500px;
}



#logoutButton {
	margin-top: 60px;
	bottom: 120px;
	line-height: 1;
	font-size: 8px;
	padding: 10px 30px 12px;
}


/* login via spotify button on home.hbs */
#refreshButton {
	position: center;
	margin-top: 60px;
	bottom: 120px;
	right: 20px;
	width: 300px;
	font-weight: bold;
	background-color: #8dc686;
	font-size: 14px;
	padding: 16px 48px 18px;
}

#authButton {
	position: fixed;
	bottom: 120px;
	right: 20px;
	width: 300px;
	font-weight: bold;
	background-color: #1d1d1b;
	font-size: 14px;
	padding: 16px 48px 18px;
	letter-spacing: 2px;
}

#intro {
	background: url("../images/headphones.png")no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.header_content {
	color: white;
	font-family: "ProximaNova_altbold", Fallback, sans-serif;
}

* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
}

body {
	font-family: "ProximaNova", sans-serif;
	background-color: white;
	width: 100%;
}

.bodyPers {
	background-color: #1d1d1b;
}

div {
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul {
	list-style: none;
	margin-bottom: 0px;
}

p {
	font-family: "ProximaNova", sans-serif;
	font-size: 14px;
	line-height: 2.18;
	font-weight: 400;
	color: black;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

p a {
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

p:last-of-type {
	margin-bottom: 0;
}

.mainPersonal,
.superContainer {
	width: 100vw;
}

.welcome {
	font-family: "ProximaNova_altbold";
	color: #8dc686;
}



/*header*/
.header {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	background: #000000;
	color: white;
	z-index: 100;
}

.header_content {

	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}

/* Main Div personal page */
.mainDiv {
	position: relative;
	/* border-style: solid; */
	/* border-color: white; */
}

.userInfo {
	width: 80px;
	height: 100px;
	/* border-style: solid; */
	/* border-color: blue; */
	margin-top: 20px;
	margin-bottom: 20px;
}

.artistPicture {
	display: inline-block;
}

.artistList,
.artistInfo {
	font-family: "ProximaNova_thin";
	color: white;
}

#artistIMG {
	background-size: cover;
	width: 64px;
	height: 64px;
	margin-bottom: 10px;
}

.mainPersonal {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 40px;
}

/* NewsFeed */
.newsfeed_container {
	width: 100%;
	height: 100%;
}

#newsfeedList {
	width: 100%;
	border: solid 1px #d3d3d3;
	background:  #1d1d1b;
}

/* .newsfeed_header{

}

 */

.jp-playlist {
	background: #1d1d1b;
}

.jp-playlist ul {
	/*padding-left: 55px;*/
	background: #1d1d1b;
}

.jp-playlist li {
	position: relative;
	height: 20px;
	border-bottom: none;
	padding-left: 55px;
	background: #1d1d1b;
}

.jp-playlist li::before,
#newsfeedList.jp-state-playing .jp-playlist li.jp-playlist-current::before {
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background: #5c5c5c;
	visibility: hidden;
	opacity: 0;
	content: '';
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.jp-playlist li:hover::before,
#newsfeedList.jp-state-playing .jp-playlist li.jp-playlist-current::before {
	opacity: 1;
	visibility: visible;
}

.jp-playlist li>div {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	padding-left: 40px;
	padding-right: 40px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.jp-playlist li>div::before {
	display: block;
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-family: "ProximaNova_regular";
	color: rgba(255, 255, 255, 0.5);
}

/* .jp-playlist li:not(:last-child) {
	margin-bottom: 14px;
} */

#newsfeedList.jp-state-playing .jp-playlist li.jp-playlist-current>div::before {
	color: #FFFFFF;
}

#newsfeedList.jp-state-playing .jp-playlist li.jp-playlist-current a,
#newsfeedList_1.jp-state-playing .jp-playlist li.jp-playlist-current>div .song_duration {
	color: #FFFFFF !important;
}

.jp-play {
	position: relative;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background: #8dc686;
	border: none;
	cursor: pointer;
	text-align: center;
	outline: none !important;
}

/* play button with play icon */
.jp-play::after {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-family:  "FontAwesome";
	font-size: 20px;
	color: #FFFFFF;
	content: '\f04b';
}

/* pause icon inside of play button */
.jp-state-playing .jp-play::after {
	content: '\f04c';
}

.jp-play:active {
	width: 46px;
	height: 46px;
}

.jp-play-bar {
	height: 9px;
	background: #5f5f5f;
}

.newsfeed_header {
	margin-left: 50%;
}


/* .newsfeed_list_container {
} */

.newsfeed_list li {
	width: 100%;
	height: 50px;
	background: #333232;
	padding-left: 11px;
	padding-right: 37px;
	color: #FFFFFF;
	font-size: 18px;
}

.newsfeed_list li a {
	color: #FFFFFF;
}

.newsfeed_list li:not(:last-of-type) {
	margin-bottom: 5px;
}

/*logout*/
.logout {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 52px;
}

.logout ul li a {
	position: relative;
	text-decoration: none;
	color: black;
}

div {
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul {
	list-style: none;
	margin-bottom: 0px;
}

p a {
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
}

p:last-of-type {
	margin-bottom: 0;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 14px;
}

/* logo inside header */

.logo {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 51px;
}

.logo a {
	font-size: 30px;
	color: #FFFFFF;
}