/***********
1. Fonts
***********/

@font-face
{
	font-family: Futura;
	src: url(./fonts/FuturaLT-Bold.ttf);
}

/*********************************
2. Body and some general stuff
*********************************/

.body {
  background-color: black;
}
